USE [master]
GO
/****** Object:  Database [quanlychitieu]    Script Date: 4/24/2025 1:04:08 AM ******/
CREATE DATABASE [quanlychitieu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlychitieu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\quanlychitieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlychitieu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\quanlychitieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlychitieu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlychitieu]
GO
/****** Object:  Table [dbo].[QLChi]    Script Date: 4/24/2025 1:04:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLChi](
	[idChi] [int] NOT NULL,
	[NgayChi] [date] NOT NULL,
	[SoTienChi] [decimal](10, 2) NOT NULL,
	[LyDoChi] [text] NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
 CONSTRAINT [PK_QLChi] PRIMARY KEY CLUSTERED 
(
	[idChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLThu]    Script Date: 4/24/2025 1:04:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLThu](
	[idThu] [int] NOT NULL,
	[Ngaythu] [date] NOT NULL,
	[Sotienthu] [decimal](10, 2) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
 CONSTRAINT [PK_QLThu] PRIMARY KEY CLUSTERED 
(
	[idThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/24/2025 1:04:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[TongTien] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Tai Khoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QLChi]  WITH CHECK ADD  CONSTRAINT [FK_QLChi_Tai Khoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QLChi] CHECK CONSTRAINT [FK_QLChi_Tai Khoan]
GO
ALTER TABLE [dbo].[QLThu]  WITH CHECK ADD  CONSTRAINT [FK_QLThu_Tai Khoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QLThu] CHECK CONSTRAINT [FK_QLThu_Tai Khoan]
GO
USE [master]
GO
